@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500&display=swap");
.taskTitle {
  font-size: 1rem;
  font-family: "Source Code Pro", sans-serif;
  font-weight: 500;
  color: black;
}

.taskText {
  font-size: 0.8rem;
  font-family: "Source Code Pro", sans-serif;
  font-weight: 400;
  color: #666666;
}

.container {
  max-width: 1440px;
}

.card > * {
  background-color: white;
}

.badge {
  color: white;
  background-color: rgb(201, 182, 215);
  width: -moz-fit-content;
  width: fit-content;
}

.addCard {
  background-color: rgba(197, 224, 251, 0.4);
  color: rgb(148, 200, 255);
  padding: 0px 5px 2px 5px;
  border: solid rgba(146, 199, 255, 0.4509803922) 0.5px;
  font-weight: 500;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.addCard:hover {
  background-color: rgba(197, 224, 251, 0.4);
  color: #688aad;
  border: none;
}

.addTask {
  background-color: #6cb1ff;
  color: #deecfc;
  border: none;
  box-shadow: 0px 0px 0.5px 1px #62aeff;
  border-radius: 25px;
}

.addTask:hover {
  background-color: #3a96ff;
  color: #afd4ff;
  box-shadow: none;
}

.editButton {
  background-color: rgba(246, 202, 221, 0.5764705882);
  color: #C9B6D7;
  padding: 0px 5px 0px 5px;
  border: solid rgba(201, 182, 215, 0.7333333333) 0.5px;
  font-weight: 500;
  border-radius: 25px;
  font-size: 12px;
}

.editButton:hover {
  background-color: rgba(246, 202, 221, 0.6509803922);
  color: #866b99;
  border: none;
}

.form-select {
  background-color: rgba(197, 224, 251, 0.4);
  color: rgb(148, 200, 255);
  padding: 0 5px 2px 5px;
  border: solid rgba(146, 199, 255, 0.4509803922) 0.5px;
  font-weight: 500;
  border-radius: 50px;
  width: -moz-fit-content;
  width: fit-content;
}

.form-select:hover {
  background-color: rgba(197, 224, 251, 0.5176470588);
  color: #688aad;
  border: none;
}

header {
  background-color: #C9B6D7;
  color: #688aad;
  font-family: "Source Code Pro", sans-serif;
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
}

main {
  background-color: rgba(197, 224, 251, 0.4);
}

.column {
  background-color: rgba(246, 202, 221, 0.7);
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-top: 1px;
  border-radius: 1em;
  font-size: 1rem;
  font-weight: 600;
  color: #688aad;
}

#text {
  z-index: 10;
}

footer {
  height: 3rem;
  text-align: center;
  position: sticky;
  background-color: #C9B6D7;
  color: #688aad;
  font-family: "Source Code Pro", sans-serif;
  font-size: 0.7rem;
}

#cardInput {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#cardInput .formContainer {
  background-color: rgba(197, 224, 251, 0.9803921569);
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  font-family: "Source Code Pro", sans-serif;
}
#cardInput .formContainer .addTask {
  width: -moz-fit-content;
  width: fit-content;
}

main {
  background-color: rgba(197, 224, 251, 0.4);
}

.column {
  background-color: rgba(246, 202, 221, 0.7);
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-top: 1px;
  border-radius: 1em;
  font-size: 1rem;
  font-weight: 600;
  color: #688aad;
}

#text {
  z-index: 10;
}/*# sourceMappingURL=style.css.map */