.editButton
{
    background-color: #f6cadd93;
    color: #C9B6D7;
    padding: 0px 5px 0px 5px;
    border: solid #c9b6d7bb 0.5px;
    font-weight: 500;
    border-radius: 25px;
    font-size: 12px;
}

.editButton:hover
{
    background-color: #f6cadda6;
    color: #866b99;
    border: solid #c9b6d700 0.5px;
}

