.addCard
{
    background-color: #c5e0fb45;
    color: #92c7ff;
    padding: 0px 5px 2px 5px;
    border: solid #92c7ff73 0.5px;
    font-weight: 500;
    border-radius: 50px;
}

.addCard:hover
{
    background-color: #c5e0fb84;
    color: #688aad;
    border: none;
}

// #C9B6D7
// #F6CADD
// #C5E0FB
// #AED2F9