.addTask
{
    background-color: #6cb1ff;
    color: #deecfc;
    border: none;
    box-shadow: 0px 0px 0.5px 1px #62aeff;
    border-radius: 25px;
}

.addTask:hover
{
    background-color: #3a96ff;
    color: #afd4ff;
    box-shadow: none;
}