.form-select
{
  background-color: $barbielightblue;
  color: $barbieblue;
  padding: 0 5px 2px 5px;
  border: solid #92c7ff73 0.5px;
  font-weight: 500;
  border-radius: 50px;
  width:fit-content;
  
}

.form-select:hover
{
  background-color: #c5e0fb84;
  color: #688aad;
  border: none;
}