.form
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;

    .formContainer
    {
        background-color: #c5e0fbfa;
        width: fit-content;
        height: fit-content;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 15px;
        font-family: $cardFont;
        font-weight: 600;
        color:#688aad;

        .addTask
        {
            width: 3rem;
            margin-left: auto;
            margin-right: auto;
            
        }
    }

    #deleteTask {

        width:4.2rem;
    }

    #editTask {

        width: 3.1rem;
    }

    .closeButton
    {
        width: fit-content;
        align-self: flex-end;
        position: absolute;
    }
}

.editForm-buttonContainer {

    text-align: center;
}