
header {
background-color:#C9B6D7;
color:#688aad;
font-family: $cardFont;
display: flex;
align-items: start;
flex-direction: column;
margin: {
    right: auto;
    left: auto;
}
padding-left: 1rem;
   
}