
main {
    background-color: $barbielightblue;
    margin-bottom: 3rem;
    
}

.column {
background-color: $barbielightpink;

margin: {
    right: 1rem;
    top: 0.5rem;
    bottom: 0.5rem;
    
}
padding-bottom: 0.5rem;
padding-top: 1px;
border-radius: 1em;

font-size: 1rem;
font-weight: 600;
color:#688aad;

}



