
main {
    background-color: $barbielightblue;
}

.column {
background-color: $barbielightpink;

margin: {
    right: 1rem;
    top: 1rem;
    bottom: 1rem;
}
border-radius: 1rem;
list-style: none;

}