$cardFont:'Source Code Pro', sans-serif;
//fonts

$barbieblue: rgb(148, 200, 255);
$barbielightblue:rgba(197, 224, 251,0.4);
$barbiepink:rgb(246, 202, 221,1);
$barbielightpink:rgb(246, 202, 221,0.7);

$barbiepurple: rgb(202, 183, 215);

//mixins media queries

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

